openapi: 3.2.0
info:
  title: InstiApp List Body API
  description: InstiApp IIT Bombay API
  termsOfService: https://insti.app/tos.html
  contact:
    email: devcom@iitb.ac.in
  license:
    name: AGPLv3
  version: v1
servers:
- url: https://gymkhana.iitb.ac.in/instiapp/api
security:
- Basic: []
tags:
- name: list_body
paths:
  /achievements-body/{id}:
    parameters:
    - name: id
      in: path
      description: A UUID string identifying this achievement.
      required: true
      schema:
        type: string
        format: uuid
    get:
      operationId: list_body
      description: List the user's achivements and requests.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AchievementUser'
      tags:
      - list_body
      summary: List body
      x-summary-source: derived
components:
  schemas:
    BodySerializerMin:
      required:
      - name
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        str_id:
          title: Str id
          type:
          - string
          - 'null'
          readOnly: true
          minLength: 1
        name:
          title: Name
          type: string
          maxLength: 50
          minLength: 1
        short_description:
          title: Short description
          type: string
          maxLength: 50
        website_url:
          title: Website url
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        image_url:
          title: Image url
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        cover_url:
          title: Cover url
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        followers_count:
          title: Followers count
          type: string
          readOnly: true
        short_name:
          title: Short name
          type:
          - string
          - 'null'
          maxLength: 20
    AchievementUser:
      required:
      - title
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        title:
          title: Title
          type: string
          maxLength: 80
          minLength: 1
        description:
          title: Description
          type: string
        admin_note:
          title: Admin note
          type:
          - string
          - 'null'
        body_detail:
          $ref: '#/components/schemas/BodySerializerMin'
        dismissed:
          title: Dismissed
          type: boolean
        verified:
          title: Verified
          type: boolean
        user:
          $ref: '#/components/schemas/UserProfile'
        body:
          title: Body
          type:
          - string
          - 'null'
          format: uuid
        verified_by:
          title: Verified by
          type:
          - string
          - 'null'
          format: uuid
        event:
          title: Event
          type:
          - string
          - 'null'
          format: uuid
        event_detail:
          $ref: '#/components/schemas/EventMin'
        offer:
          title: Offer
          type:
          - string
          - 'null'
          format: uuid
        isSkill:
          title: IsSkill
          type: boolean
    UserProfile:
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 50
        profile_pic:
          title: Profile pic
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        ldap_id:
          title: Ldap id
          type:
          - string
          - 'null'
          maxLength: 50
    EventMin:
      required:
      - name
      - start_time
      - end_time
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        str_id:
          title: Str id
          type:
          - string
          - 'null'
          readOnly: true
          minLength: 1
        name:
          title: Name
          type: string
          maxLength: 60
          minLength: 1
        tags:
          title: Tags
          type:
          - string
          - 'null'
          enum:
          - event
          - announcement
        image_url:
          title: Image url
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        start_time:
          title: Start time
          type: string
          format: date-time
        end_time:
          title: End time
          type: string
          format: date-time
  securitySchemes:
    Basic:
      type: http
      scheme: basic
