openapi: 3.2.0
info:
  title: InstiApp User Me API
  description: InstiApp IIT Bombay API
  termsOfService: https://insti.app/tos.html
  contact:
    email: devcom@iitb.ac.in
  license:
    name: AGPLv3
  version: v1
servers:
- url: https://gymkhana.iitb.ac.in/instiapp/api
security:
- Basic: []
tags:
- name: user-me
paths:
  /user-me:
    parameters: []
    get:
      operationId: user-me_read
      description: Get current user.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserProfileFull'
      tags:
      - user-me
      summary: User me read
      x-summary-source: derived
    put:
      operationId: user-me_update
      description: Update current user.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileFull'
      tags:
      - user-me
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserProfileFull'
        required: true
      summary: User me update
      x-summary-source: derived
    patch:
      operationId: user-me_partial_update
      description: Update current user.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileFull'
      tags:
      - user-me
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserProfileFull'
        required: true
      summary: User me partial update
      x-summary-source: derived
  /user-me/events:
    parameters: []
    get:
      operationId: user-me_get_my_events
      description: Current user's created events.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserProfileFull'
      tags:
      - user-me
      summary: User me get my events
      x-summary-source: derived
  /user-me/roles:
    parameters: []
    get:
      operationId: user-me_get_my_roles
      description: Get roles with nested events.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Role'
      tags:
      - user-me
      summary: User me get my roles
      x-summary-source: derived
  /user-me/signatures:
    parameters: []
    get:
      operationId: user-me_signatures_read
      description: Get signatures of the user.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Signature'
      tags:
      - user-me
      summary: User me signatures read
      x-summary-source: derived
    post:
      operationId: user-me_signatures_create
      description: Add a signature for the user.
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signature'
      tags:
      - user-me
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Signature'
        required: true
      summary: User me signatures create
      x-summary-source: derived
  /user-me/signatures/{id}:
    parameters:
    - name: id
      in: path
      description: A unique integer value identifying this signature.
      required: true
      schema:
        type: integer
    delete:
      operationId: user-me_delete_signature
      description: Delete a signature for the user.
      responses:
        '204':
          description: ''
      tags:
      - user-me
      summary: User me delete signature
      x-summary-source: derived
  /user-me/subscribe-wp:
    parameters: []
    post:
      operationId: user-me_subscribe_web_push
      description: Subscribe to web push.
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileFull'
      tags:
      - user-me
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserProfileFull'
        required: true
      summary: User me subscribe web push
      x-summary-source: derived
  /user-me/ucpr/{post_pk}:
    parameters:
    - name: post_pk
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: user-me_set_upr_me
      description: 'Set UPR(User Post Reaction) for current user.

        This will create or update if record exists.'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserProfileFull'
      tags:
      - user-me
      summary: User me set upr me
      x-summary-source: derived
  /user-me/ucr/:
    parameters: []
    post:
      operationId: user-me_set_ucr_me
      description: 'Set UNR(User News Reaction) for current user.

        This will create or update if record exists.'
      responses:
        '201':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfileFull'
      tags:
      - user-me
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserProfileFull'
        required: true
      summary: User me set ucr me
      x-summary-source: derived
  /user-me/ues/{event_pk}:
    parameters:
    - name: event_pk
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: user-me_set_ues_me
      description: 'Set UES for current user.

        This will create or update if record exists.'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserProfileFull'
      tags:
      - user-me
      summary: User me set ues me
      x-summary-source: derived
  /user-me/unr/{news_pk}:
    parameters:
    - name: news_pk
      in: path
      required: true
      schema:
        type: string
    get:
      operationId: user-me_set_unr_me
      description: 'Set UNR(User News Reaction) for current user.

        This will create or update if record exists.'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserProfileFull'
      tags:
      - user-me
      summary: User me set unr me
      x-summary-source: derived
components:
  schemas:
    UserProfile:
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 50
        profile_pic:
          title: Profile pic
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        ldap_id:
          title: Ldap id
          type:
          - string
          - 'null'
          maxLength: 50
    UserInterest:
      required:
      - title
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        title:
          title: Title
          type: string
          maxLength: 80
          minLength: 1
    UserProfileFull:
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 50
        department:
          title: Department
          type:
          - string
          - 'null'
          readOnly: true
          minLength: 1
        department_name:
          title: Department name
          type:
          - string
          - 'null'
          readOnly: true
          minLength: 1
        degree:
          title: Degree
          type:
          - string
          - 'null'
          readOnly: true
          minLength: 1
        degree_name:
          title: Degree name
          type:
          - string
          - 'null'
          readOnly: true
          minLength: 1
        join_year:
          title: Join year
          type:
          - string
          - 'null'
          readOnly: true
          minLength: 1
        graduation_year:
          title: Graduation year
          type:
          - string
          - 'null'
          readOnly: true
          minLength: 1
        profile_pic:
          title: Profile pic
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        events_interested:
          title: Events interested
          type: string
          readOnly: true
        events_going:
          title: Events going
          type: string
          readOnly: true
        email:
          title: Email
          type: string
          readOnly: true
        roll_no:
          title: Roll no
          type:
          - string
          - 'null'
          maxLength: 30
        contact_no:
          title: Contact no
          type: string
          readOnly: true
        show_contact_no:
          title: Show contact no
          type: boolean
        about:
          title: About
          type:
          - string
          - 'null'
        followed_bodies:
          type: array
          items:
            $ref: '#/components/schemas/BodySerializerMin'
          readOnly: true
        fcm_id:
          title: Fcm id
          type:
          - string
          - 'null'
          maxLength: 200
        android_version:
          title: Android version
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        roles:
          type: array
          items:
            $ref: '#/components/schemas/Role'
          readOnly: true
        institute_roles:
          type: array
          items:
            $ref: '#/components/schemas/InstituteRole'
          readOnly: true
        website_url:
          title: Website url
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        ldap_id:
          title: Ldap id
          type:
          - string
          - 'null'
          maxLength: 50
        hostel:
          title: Hostel
          type:
          - string
          - 'null'
          maxLength: 100
        former_roles:
          type: array
          items:
            $ref: '#/components/schemas/FormerRole'
          readOnly: true
        achievements:
          type: array
          items:
            $ref: '#/components/schemas/VerifiedAchievement'
          readOnly: true
        interests:
          type: array
          items:
            $ref: '#/components/schemas/UserInterest'
          readOnly: true
    Signature:
      required:
      - body
      - signature
      type: object
      properties:
        id:
          title: ID
          type: integer
          readOnly: true
        user:
          title: User
          type: string
          format: uuid
          readOnly: true
        body:
          title: Body
          type:
          - string
          - 'null'
          format: uuid
        signature:
          title: Signature
          type: string
          maxLength: 200
          minLength: 1
        timestamp:
          title: Timestamp
          type: string
          format: date-time
          readOnly: true
    EventMin:
      required:
      - name
      - start_time
      - end_time
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        str_id:
          title: Str id
          type:
          - string
          - 'null'
          readOnly: true
          minLength: 1
        name:
          title: Name
          type: string
          maxLength: 60
          minLength: 1
        tags:
          title: Tags
          type:
          - string
          - 'null'
          enum:
          - event
          - announcement
        image_url:
          title: Image url
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        start_time:
          title: Start time
          type: string
          format: date-time
        end_time:
          title: End time
          type: string
          format: date-time
    Role:
      required:
      - name
      - body
      - permissions
      - users
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 50
          minLength: 1
        inheritable:
          title: Inheritable
          type: boolean
        body:
          title: Body
          type: string
          format: uuid
        body_detail:
          $ref: '#/components/schemas/BodySerializerMin'
        bodies:
          title: Bodies
          type: string
          readOnly: true
        permissions:
          type: array
          items:
            type: string
            enum:
            - AddE
            - UpdE
            - DelE
            - VerE
            - UpdB
            - Role
            - VerA
            - AppP
            - ModC
        users:
          type: array
          items:
            type: string
            format: uuid
          uniqueItems: true
        users_detail:
          type: array
          items:
            $ref: '#/components/schemas/UserProfile'
          readOnly: true
        priority:
          title: Priority
          type: integer
          maximum: 2147483647
          minimum: -2147483648
        official_post:
          title: Official post
          type: boolean
    VerifiedAchievement:
      required:
      - title
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        title:
          title: Title
          type: string
          maxLength: 80
          minLength: 1
        description:
          title: Description
          type: string
        body_detail:
          $ref: '#/components/schemas/BodySerializerMin'
        dismissed:
          title: Dismissed
          type: boolean
        verified:
          title: Verified
          type: boolean
        hidden:
          title: Hidden
          type: boolean
        event_detail:
          $ref: '#/components/schemas/EventMin'
        isSkill:
          title: IsSkill
          type: boolean
    InstituteRole:
      required:
      - name
      - permissions
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        name:
          title: Name
          type: string
          maxLength: 50
          minLength: 1
        permissions:
          type: array
          items:
            type: string
            enum:
            - AddB
            - DelB
            - BodyChild
            - Location
            - Role
            - RoleB
    BodySerializerMin:
      required:
      - name
      type: object
      properties:
        id:
          title: Id
          type: string
          format: uuid
          readOnly: true
        str_id:
          title: Str id
          type:
          - string
          - 'null'
          readOnly: true
          minLength: 1
        name:
          title: Name
          type: string
          maxLength: 50
          minLength: 1
        short_description:
          title: Short description
          type: string
          maxLength: 50
        website_url:
          title: Website url
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        image_url:
          title: Image url
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        cover_url:
          title: Cover url
          type:
          - string
          - 'null'
          format: uri
          maxLength: 200
        followers_count:
          title: Followers count
          type: string
          readOnly: true
        short_name:
          title: Short name
          type:
          - string
          - 'null'
          maxLength: 20
    FormerRole:
      type: object
      properties:
        id:
          title: Id
          type: string
          readOnly: true
        name:
          title: Name
          type: string
          readOnly: true
        body_detail:
          $ref: '#/components/schemas/BodySerializerMin'
        priority:
          title: Priority
          type: string
          readOnly: true
        year:
          title: Year
          type: string
          maxLength: 20
  securitySchemes:
    Basic:
      type: http
      scheme: basic
