{"swagger": "2.0", "info": {"title": "InstiApp API", "description": "InstiApp IIT Bombay API", "termsOfService": "https://insti.app/tos.html", "contact": {"email": "devcom@iitb.ac.in"}, "license": {"name": "AGPLv3"}, "version": "v1"}, "host": "gymkhana.iitb.ac.in", "schemes": ["https"], "basePath": "/instiapp/api", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Basic": {"type": "basic"}}, "security": [{"Basic": []}], "paths": {"/achievements": {"get": {"operationId": "achievements_list", "description": "List the user's achivements and requests.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/AchievementUser"}}}}, "tags": ["achievements"]}, "post": {"operationId": "achievements_create", "description": "Make a request to a body for a new achievement.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AchievementUser"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AchievementUser"}}}, "tags": ["achievements"]}, "parameters": []}, "/achievements-body/{id}": {"get": {"operationId": "list_body", "description": "List the user's achivements and requests.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/AchievementUser"}}}}, "tags": ["list_body"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this achievement.", "required": true, "type": "string", "format": "uuid"}]}, "/achievements-offer": {"post": {"operationId": "achievements-offer_create", "description": "Offer a new achievement for an event.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OfferedAchievement"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/OfferedAchievement"}}}, "tags": ["achievements-offer"]}, "parameters": []}, "/achievements-offer/{id}": {"get": {"operationId": "achievements-offer_read", "description": "Get a achievement offer.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OfferedAchievement"}}}, "tags": ["achievements-offer"]}, "post": {"operationId": "achievements-offer_create", "description": "Claim and try to get an achievement with its secret.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OfferedAchievement"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/OfferedAchievement"}}}, "tags": ["achievements-offer"]}, "put": {"operationId": "achievements-offer_update", "description": "Update an offered achievement.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/OfferedAchievement"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/OfferedAchievement"}}}, "tags": ["achievements-offer"]}, "delete": {"operationId": "achievements-offer_delete", "description": "Update an offered achievement.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["achievements-offer"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this offered achievement.", "required": true, "type": "string", "format": "uuid"}]}, "/achievements/{id}": {"get": {"operationId": "achievements_read", "description": "Views for Achievements", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AchievementUser"}}}, "tags": ["achievements"]}, "put": {"operationId": "achievements_update", "description": "Update/Verify an achievement.\nNeeds BodyRole with `VerA` or can patch own achievement", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AchievementUser"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AchievementUser"}}}, "tags": ["achievements"]}, "patch": {"operationId": "achievements_update", "description": "Update/Verify an achievement.\nNeeds BodyRole with `VerA` or can patch own achievement", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AchievementUser"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AchievementUser"}}}, "tags": ["achievements"]}, "delete": {"operationId": "achievements_delete", "description": "Delete an achievement or request.\nNeeds BodyRole with `VerA`", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["achievements"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this achievement.", "required": true, "type": "string", "format": "uuid"}]}, "/alumniLogin": {"get": {"operationId": "alumni_login", "description": "Login", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["alumni_login"]}, "parameters": []}, "/alumniOTP": {"get": {"operationId": "alumni_otp_conf", "description": "Login", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["alumni_otp_conf"]}, "parameters": []}, "/bans/": {"get": {"operationId": "bans_list", "description": "List all the banned Accounts.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/SSOBans"}}}}, "tags": ["bans"]}, "post": {"operationId": "bans_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SSOBans"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SSOBans"}}}, "tags": ["bans"]}, "parameters": []}, "/bans/{id}/": {"get": {"operationId": "bans_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SSOBans"}}}, "tags": ["bans"]}, "put": {"operationId": "bans_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SSOBans"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SSOBans"}}}, "tags": ["bans"]}, "patch": {"operationId": "bans_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SSOBans"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SSOBans"}}}, "tags": ["bans"]}, "delete": {"operationId": "bans_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["bans"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this sso ban.", "required": true, "type": "string", "format": "uuid"}]}, "/bodies": {"get": {"operationId": "bodies_list", "description": "Body", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Body"}}}}, "tags": ["bodies"]}, "post": {"operationId": "bodies_create", "description": "Create Body.\nNeeds the `AddB` Institute Role permission.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Body"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Body"}}}, "tags": ["bodies"]}, "parameters": []}, "/bodies-with-privilege": {"get": {"operationId": "get_bodies", "description": "Get bodies with users having a specific privilege.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["get_bodies"]}, "parameters": []}, "/bodies-with-privilege/": {"get": {"operationId": "get_bodies", "description": "Get bodies with users having a specific privilege.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["get_bodies"]}, "parameters": []}, "/bodies/{id}": {"get": {"operationId": "bodies_read", "description": "Get Body.\nRetrieve by `uuid` or `str_id`.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Body"}}}, "tags": ["bodies"]}, "put": {"operationId": "bodies_update", "description": "Update Body.\nNeeds the `UpdB` permission.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Body"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Body"}}}, "tags": ["bodies"]}, "delete": {"operationId": "bodies_delete", "description": "Delete Body.\nNeeds the `DelB` institute permission.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["bodies"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Body.", "required": true, "type": "string", "format": "uuid"}]}, "/bodies/{id}/events": {"get": {"operationId": "bodies_get_events", "description": "Get all events from pk uuid or strid.\n{?archived} is optional arguement to fetch all events", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Body"}}}}, "tags": ["bodies"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Body.", "required": true, "type": "string", "format": "uuid"}]}, "/bodies/{id}/follow": {"get": {"operationId": "bodies_follow", "description": "Follow or unfollow a body {?action}=0,1", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Body"}}}}, "tags": ["bodies"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Body.", "required": true, "type": "string", "format": "uuid"}]}, "/bodies/{id}/followers": {"get": {"operationId": "bodies_followers_read", "description": "List followers of body.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/BodyFollowers"}}}, "tags": ["bodies"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Body.", "required": true, "type": "string", "format": "uuid"}]}, "/buy/categories": {"get": {"operationId": "buy_get_categories", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Product"}}}}, "tags": ["buy"]}, "parameters": []}, "/buy/products": {"get": {"operationId": "buy_products_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Product"}}}}, "tags": ["buy"]}, "post": {"operationId": "buy_products_create", "description": "Creates product if the user isn't banned and form is filled\ncorrectly. Ban checking is yet to be incorporated.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Product"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Product"}}}, "tags": ["buy"]}, "parameters": []}, "/buy/products/{id}": {"get": {"operationId": "buy_products_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Product"}}}, "tags": ["buy"]}, "put": {"operationId": "buy_products_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Product"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Product"}}}, "tags": ["buy"]}, "delete": {"operationId": "buy_products_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["buy"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Product.", "required": true, "type": "string", "format": "uuid"}]}, "/buy/products/{id}/sold": {"post": {"operationId": "buy_products_mark_sold", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Product"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Product"}}}, "tags": ["buy"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Product.", "required": true, "type": "string", "format": "uuid"}]}, "/buy/report/{id}": {"post": {"operationId": "buy_report", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Product"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Product"}}}, "tags": ["buy"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Product.", "required": true, "type": "string", "format": "uuid"}]}, "/buy/v2/products": {"get": {"operationId": "buy_v2_products_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Product"}}}}, "tags": ["buy"]}, "post": {"operationId": "buy_v2_products_create", "description": "Creates product if the user isn't banned and form is filled\ncorrectly. Ban checking is yet to be incorporated.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Product"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Product"}}}, "tags": ["buy"]}, "parameters": []}, "/calendar/feed/": {"get": {"operationId": "calendar_feed_list", "description": "View class for the Feed", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["calendar"]}, "parameters": []}, "/calendar/preferences/": {"get": {"operationId": "calendar_preferences_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["calendar"]}, "patch": {"operationId": "calendar_preferences_partial_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["calendar"]}, "parameters": []}, "/calendar/preferences/bodies/": {"get": {"operationId": "calendar_preferences_bodies_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["calendar"]}, "parameters": []}, "/calendar/preferences/bodies/{body_id}/": {"patch": {"operationId": "calendar_preferences_bodies_partial_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["calendar"]}, "parameters": [{"name": "body_id", "in": "path", "required": true, "type": "string"}]}, "/calendar/shared/": {"get": {"operationId": "calendar_shared_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["calendar"]}, "post": {"operationId": "calendar_shared_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["calendar"]}, "patch": {"operationId": "calendar_shared_partial_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["calendar"]}, "delete": {"operationId": "calendar_shared_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["calendar"]}, "parameters": []}, "/calendar/shared/{slug}/": {"get": {"operationId": "calendar_shared_read", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["calendar"]}, "post": {"operationId": "calendar_shared_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["calendar"]}, "patch": {"operationId": "calendar_shared_partial_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["calendar"]}, "delete": {"operationId": "calendar_shared_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["calendar"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/calendar/shared/{slug}/events/": {"get": {"operationId": "calendar_shared_events_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["calendar"]}, "post": {"operationId": "calendar_shared_events_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["calendar"]}, "patch": {"operationId": "calendar_shared_events_partial_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["calendar"]}, "delete": {"operationId": "calendar_shared_events_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["calendar"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/calendar/shared/{slug}/events/{event_id}/": {"get": {"operationId": "calendar_shared_events_read", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["calendar"]}, "post": {"operationId": "calendar_shared_events_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["calendar"]}, "patch": {"operationId": "calendar_shared_events_partial_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["calendar"]}, "delete": {"operationId": "calendar_shared_events_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["calendar"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}, {"name": "event_id", "in": "path", "required": true, "type": "string"}]}, "/calendar/shared/{slug}/subscribe/": {"post": {"operationId": "calendar_shared_subscribe_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["calendar"]}, "patch": {"operationId": "calendar_shared_subscribe_partial_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["calendar"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/calendar/shared/{slug}/toggle/": {"post": {"operationId": "calendar_shared_toggle_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["calendar"]}, "patch": {"operationId": "calendar_shared_toggle_partial_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["calendar"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/calendar/shared/{slug}/unsubscribe/": {"post": {"operationId": "calendar_shared_unsubscribe_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["calendar"]}, "patch": {"operationId": "calendar_shared_unsubscribe_partial_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["calendar"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/check/": {"get": {"operationId": "check_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["check"]}, "parameters": []}, "/communities": {"get": {"operationId": "communities_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/CommunitySerializers"}}}}, "tags": ["communities"]}, "post": {"operationId": "communities_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CommunitySerializers"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CommunitySerializers"}}}, "tags": ["communities"]}, "parameters": []}, "/communities/{id}": {"get": {"operationId": "communities_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CommunitySerializers"}}}, "tags": ["communities"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Community.", "required": true, "type": "string", "format": "uuid"}]}, "/communityposts": {"get": {"operationId": "communityposts_list", "description": "List Of Posts.\nList fresh posts arranged chronologiaclly for the current user.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/CommunityPostSerializers"}}}}, "tags": ["communityposts"]}, "post": {"operationId": "communityposts_create", "description": "Create Post and Comments.\nNeeds `AddP` permission for each body to be associated.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CommunityPostSerializers"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CommunityPostSerializers"}}}, "tags": ["communityposts"]}, "parameters": []}, "/communityposts/moderator/{id}": {"put": {"operationId": "communityposts_change_status", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CommunityPostSerializers"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CommunityPostSerializers"}}}, "tags": ["communityposts"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Community Post.", "required": true, "type": "string", "format": "uuid"}]}, "/communityposts/{action}/{id}": {"put": {"operationId": "perform_action", "description": "action==feature for featuring a post", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CommunityPostSerializers"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CommunityPostSerializers"}}}, "tags": ["perform_action"]}, "parameters": [{"name": "action", "in": "path", "required": true, "type": "string"}, {"name": "id", "in": "path", "description": "A UUID string identifying this Community Post.", "required": true, "type": "string", "format": "uuid"}]}, "/communityposts/{id}": {"get": {"operationId": "communityposts_read", "description": "Get full Post.\nGet by `uuid` or `str_id`", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/CommunityPostSerializers"}}}}, "tags": ["communityposts"]}, "put": {"operationId": "communityposts_update", "description": "Update Event.\nNeeds BodyRole with `UpdE` for at least one associated body.\nDisassociating bodies from the event requires the `DelE`\npermission and associating needs `AddE`", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CommunityPostSerializers"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CommunityPostSerializers"}}}, "tags": ["communityposts"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Community Post.", "required": true, "type": "string", "format": "uuid"}]}, "/events": {"get": {"operationId": "events_list", "description": "List Events.\nList fresh events prioritized for the current user.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/EventFull"}}}}, "tags": ["events"]}, "post": {"operationId": "events_create", "description": "Create Event.\nNeeds `AddE` permission for each body to be associated.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/EventFull"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/EventFull"}}}, "tags": ["events"]}, "parameters": []}, "/events-all": {"get": {"operationId": "list_all", "description": "List Events.\nList fresh events prioritized for the current user.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/EventFull"}}}}, "tags": ["list_all"]}, "parameters": []}, "/events/{id}": {"get": {"operationId": "events_read", "description": "Get Event with permission check and retry-safe transaction.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/EventFull"}}}, "tags": ["events"]}, "put": {"operationId": "events_update", "description": "Update Event.\nNeeds BodyRole with `UpdE` for at least one associated body.\nDisassociating bodies from the event requires the `DelE`\npermission and associating needs `AddE`", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/EventFull"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/EventFull"}}}, "tags": ["events"]}, "delete": {"operationId": "events_delete", "description": "Delete Event.\nNeeds `DelE` permission for all associated bodies.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["events"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Event.", "required": true, "type": "string", "format": "uuid"}]}, "/events/{id}/approve-mail": {"post": {"operationId": "events_approve_mail", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["events"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/events/{id}/reject-mail": {"post": {"operationId": "events_reject_mail", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["events"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/events/{id}/resubmit": {"post": {"operationId": "events_resubmit", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["events"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/external-blog": {"get": {"operationId": "external_blog", "description": "Get External Blog.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["external_blog"]}, "parameters": []}, "/getEncr": {"get": {"operationId": "getEncr_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["getEncr"]}, "parameters": []}, "/getUserMess": {"get": {"operationId": "getUserMess_list", "description": "Get mess status for a user", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["getUserMess"]}, "parameters": []}, "/interests": {"post": {"operationId": "interests_create", "description": "Add a user interest.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserInterest"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/UserInterest"}}}, "tags": ["interests"]}, "parameters": []}, "/interests/{id}": {"delete": {"operationId": "delete", "description": "Delete a user interest.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["delete"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this user interest.", "required": true, "type": "string", "format": "uuid"}]}, "/internship/filters/": {"get": {"operationId": "internship_filters_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["internship"]}, "parameters": []}, "/internship/posts/": {"get": {"operationId": "internship_posts_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BlogPost"}}}}}}, "tags": ["internship"]}, "parameters": []}, "/internship/posts/latest/": {"get": {"operationId": "internship_posts_latest_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/BlogPost"}}}}}}, "tags": ["internship"]}, "parameters": []}, "/internship/threads/": {"get": {"operationId": "internship_threads_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/CompanyThread"}}}}}}, "tags": ["internship"]}, "parameters": []}, "/internship/threads/{company_slug}/": {"get": {"operationId": "internship_threads_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CompleteThread"}}}, "tags": ["internship"]}, "parameters": [{"name": "company_slug", "in": "path", "required": true, "type": "string", "format": "slug", "pattern": "^[-a-zA-Z0-9_]+$"}]}, "/lnf/products/": {"get": {"operationId": "lnf_products_list", "description": "Get list of products.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ProductFound"}}}}, "tags": ["lnf"]}, "parameters": []}, "/lnf/products/{id}/": {"get": {"operationId": "lnf_products_read", "description": "Get a product from pk uuid or strid.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ProductFound"}}}, "tags": ["lnf"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this ProductFound.", "required": true, "type": "string", "format": "uuid"}]}, "/locations": {"get": {"operationId": "locations_list", "description": "List reusable locations.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Location"}}}}, "tags": ["locations"]}, "post": {"operationId": "locations_create", "description": "Create a Location.\nNeeds 'Location' institute permission.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Location"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Location"}}}, "tags": ["locations"]}, "parameters": []}, "/locations/{id}": {"get": {"operationId": "locations_read", "description": "Location", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Location"}}}, "tags": ["locations"]}, "put": {"operationId": "locations_update", "description": "Update Location.\nThis requires the user to have the 'Location' institute permission\nor BodyRole for the event using the location if the it is not reusable.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Location"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Location"}}}, "tags": ["locations"]}, "delete": {"operationId": "locations_delete", "description": "Delete a Location.\nNeeds 'Location' institute permission.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["locations"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Location.", "required": true, "type": "string", "format": "uuid"}]}, "/login": {"get": {"operationId": "login", "description": "Log in.\nUses the `code` and `redir` query parameters.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["login"]}, "parameters": []}, "/login/get-user": {"get": {"operationId": "login_get_user", "description": "Get session and profile.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["login"]}, "parameters": []}, "/logout": {"get": {"operationId": "logout", "description": "Log out.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["logout"]}, "parameters": []}, "/mess": {"get": {"operationId": "mess_list", "description": "Get mess menus of all hostels.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["mess"]}, "parameters": []}, "/my-events": {"get": {"operationId": "my_events", "description": "Get all events created by the current user.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/EventFull"}}}}, "tags": ["my_events"]}, "parameters": []}, "/nearest/": {"post": {"operationId": "nearest_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["nearest"]}, "parameters": []}, "/news": {"get": {"operationId": "news_feed", "description": "Get News feed.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["news_feed"]}, "parameters": []}, "/notifications": {"get": {"operationId": "get_notifications", "description": "Get unread notifications for current user.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["get_notifications"]}, "parameters": []}, "/notifications/read": {"get": {"operationId": "notifications_mark_all_notifications_read", "description": "Mark all notifications as read.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["notifications"]}, "parameters": []}, "/notifications/read/{id}": {"get": {"operationId": "notifications_mark_notification_read", "description": "Mark one notification as read.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["notifications"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/pass-login": {"get": {"operationId": "pass_login", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["pass_login"]}, "parameters": []}, "/placement-blog": {"get": {"operationId": "placement_blog", "description": "Get Placement Blog.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["placement_blog"]}, "parameters": []}, "/placementblogs/filters/": {"get": {"operationId": "placementblogs_filters_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["placementblogs"]}, "parameters": []}, "/placementblogs/posts/": {"get": {"operationId": "placementblogs_posts_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PlacementBlogPost"}}}}}}, "tags": ["placementblogs"]}, "parameters": []}, "/placementblogs/posts/latest/": {"get": {"operationId": "placementblogs_posts_latest_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PlacementBlogPost"}}}}}}, "tags": ["placementblogs"]}, "parameters": []}, "/placementblogs/threads/": {"get": {"operationId": "placementblogs_threads_list", "description": "", "parameters": [{"name": "page", "in": "query", "description": "A page number within the paginated result set.", "required": false, "type": "integer"}], "responses": {"200": {"description": "", "schema": {"required": ["count", "results"], "type": "object", "properties": {"count": {"type": "integer"}, "next": {"type": "string", "format": "uri", "x-nullable": true}, "previous": {"type": "string", "format": "uri", "x-nullable": true}, "results": {"type": "array", "items": {"$ref": "#/definitions/PlacementCompanyThread"}}}}}}, "tags": ["placementblogs"]}, "parameters": []}, "/placementblogs/threads/{company_slug}/": {"get": {"operationId": "placementblogs_threads_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PlacementCompleteThread"}}}, "tags": ["placementblogs"]}, "parameters": [{"name": "company_slug", "in": "path", "required": true, "type": "string", "format": "slug", "pattern": "^[-a-zA-Z0-9_]+$"}]}, "/popup-notification/": {"get": {"operationId": "popup-notification_list", "description": "Pop Up for the events", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["popup-notification"]}, "parameters": []}, "/popup-notification/{popup_id}/mark-as-read/": {"post": {"operationId": "popup-notification_mark-as-read_create", "description": "Marks a specific popup as read for the current user.", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["popup-notification"]}, "parameters": [{"name": "popup_id", "in": "path", "required": true, "type": "string"}]}, "/query": {"get": {"operationId": "search", "description": "Get Search Results.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["search"]}, "parameters": []}, "/query/add": {"post": {"operationId": "query_ask_question", "description": "New Question Asked.", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["query"]}, "parameters": []}, "/query/categories": {"get": {"operationId": "query_get_categories", "description": "Method to get all categories", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["query"]}, "parameters": []}, "/resendAlumniOTP": {"get": {"operationId": "resend_alumni_otp", "description": "Login", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["resend_alumni_otp"]}, "parameters": []}, "/roles": {"post": {"operationId": "roles_create", "description": "Body Role", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Role"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Role"}}}, "tags": ["roles"]}, "parameters": []}, "/roles/{id}": {"get": {"operationId": "roles_read", "description": "Body Role", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Role"}}}, "tags": ["roles"]}, "put": {"operationId": "roles_update", "description": "Body Role", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Role"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Role"}}}, "tags": ["roles"]}, "delete": {"operationId": "roles_delete", "description": "Body Role", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["roles"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Body Role.", "required": true, "type": "string", "format": "uuid"}]}, "/search": {"get": {"operationId": "search", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["search"]}, "parameters": []}, "/shortestpath/": {"post": {"operationId": "shortestpath_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["shortestpath"]}, "parameters": []}, "/test/notification": {"get": {"operationId": "test_create_test_notification", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["test"]}, "parameters": []}, "/training-blog": {"get": {"operationId": "training_blog", "description": "Get Training Blog.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["training_blog"]}, "parameters": []}, "/upload": {"post": {"operationId": "upload_create", "description": "Upload file.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UploadedImage"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/UploadedImage"}}}, "tags": ["upload"]}, "parameters": []}, "/upload/{id}": {"get": {"operationId": "upload_read", "description": "Upload", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UploadedImage"}}}, "tags": ["upload"]}, "delete": {"operationId": "upload_delete", "description": "Delete file entry.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["upload"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Uploaded Image.", "required": true, "type": "string", "format": "uuid"}]}, "/user-me": {"get": {"operationId": "user-me_read", "description": "Get current user.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/UserProfileFull"}}}}, "tags": ["user-me"]}, "put": {"operationId": "user-me_update", "description": "Update current user.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserProfileFull"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserProfileFull"}}}, "tags": ["user-me"]}, "patch": {"operationId": "user-me_partial_update", "description": "Update current user.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserProfileFull"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserProfileFull"}}}, "tags": ["user-me"]}, "parameters": []}, "/user-me/events": {"get": {"operationId": "user-me_get_my_events", "description": "Current user's created events.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/UserProfileFull"}}}}, "tags": ["user-me"]}, "parameters": []}, "/user-me/roles": {"get": {"operationId": "user-me_get_my_roles", "description": "Get roles with nested events.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Role"}}}}, "tags": ["user-me"]}, "parameters": []}, "/user-me/signatures": {"get": {"operationId": "user-me_signatures_read", "description": "Get signatures of the user.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Signature"}}}}, "tags": ["user-me"]}, "post": {"operationId": "user-me_signatures_create", "description": "Add a signature for the user.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Signature"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Signature"}}}, "tags": ["user-me"]}, "parameters": []}, "/user-me/signatures/{id}": {"delete": {"operationId": "user-me_delete_signature", "description": "Delete a signature for the user.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["user-me"]}, "parameters": [{"name": "id", "in": "path", "description": "A unique integer value identifying this signature.", "required": true, "type": "integer"}]}, "/user-me/subscribe-wp": {"post": {"operationId": "user-me_subscribe_web_push", "description": "Subscribe to web push.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserProfileFull"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/UserProfileFull"}}}, "tags": ["user-me"]}, "parameters": []}, "/user-me/ucpr/{post_pk}": {"get": {"operationId": "user-me_set_upr_me", "description": "Set UPR(User Post Reaction) for current user.\nThis will create or update if record exists.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/UserProfileFull"}}}}, "tags": ["user-me"]}, "parameters": [{"name": "post_pk", "in": "path", "required": true, "type": "string"}]}, "/user-me/ucr/": {"post": {"operationId": "user-me_set_ucr_me", "description": "Set UNR(User News Reaction) for current user.\nThis will create or update if record exists.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UserProfileFull"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/UserProfileFull"}}}, "tags": ["user-me"]}, "parameters": []}, "/user-me/ues/{event_pk}": {"get": {"operationId": "user-me_set_ues_me", "description": "Set UES for current user.\nThis will create or update if record exists.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/UserProfileFull"}}}}, "tags": ["user-me"]}, "parameters": [{"name": "event_pk", "in": "path", "required": true, "type": "string"}]}, "/user-me/unr/{news_pk}": {"get": {"operationId": "user-me_set_unr_me", "description": "Set UNR(User News Reaction) for current user.\nThis will create or update if record exists.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/UserProfileFull"}}}}, "tags": ["user-me"]}, "parameters": [{"name": "news_pk", "in": "path", "required": true, "type": "string"}]}, "/user-tags": {"get": {"operationId": "get_all_user_tags", "description": "Get a list of categories of user tags with nested tags.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["get_all_user_tags"]}, "parameters": []}, "/user-tags/reach": {"post": {"operationId": "user-tags_get_user_tags_reach", "description": "Get reach of selected user tags.", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["user-tags"]}, "parameters": []}, "/users/{id}": {"get": {"operationId": "users_read", "description": "UserProfile", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UserProfileFull"}}}, "tags": ["users"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Profile.", "required": true, "type": "string", "format": "uuid"}]}, "/venter/comments/{id}": {"get": {"operationId": "venter_comments_read", "description": "Get a single comment.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CommentPost"}}}, "tags": ["venter"]}, "put": {"operationId": "venter_comments_update", "description": "Update a comment if created by current user.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CommentPost"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/CommentPost"}}}, "tags": ["venter"]}, "delete": {"operationId": "venter_comments_delete", "description": "Delete a comment by the current user.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["venter"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Comment.", "required": true, "type": "string", "format": "uuid"}]}, "/venter/complaints": {"get": {"operationId": "venter_complaints_list", "description": "Get a list of non-deleted complaints.\nTo filter by current user, add a query parameter {?filter}", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ComplaintPost"}}}}, "tags": ["venter"]}, "post": {"operationId": "venter_complaints_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ComplaintPost"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ComplaintPost"}}}, "tags": ["venter"]}, "parameters": []}, "/venter/complaints/{id}": {"get": {"operationId": "venter_complaints_read", "description": "ComplaintViewSet to get the complaints", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/ComplaintPost"}}}, "tags": ["venter"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Complaint.", "required": true, "type": "string", "format": "uuid"}]}, "/venter/complaints/{id}/comments": {"post": {"operationId": "venter_complaints_comments_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CommentPost"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CommentPost"}}}, "tags": ["venter"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Comment.", "required": true, "type": "string", "format": "uuid"}]}, "/venter/complaints/{id}/subscribe": {"get": {"operationId": "venter_complaints_subscribe", "description": "Subscribe or Un-Subscribe from a complaint {?action}=0,1", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ComplaintPost"}}}}, "tags": ["venter"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Complaint.", "required": true, "type": "string", "format": "uuid"}]}, "/venter/complaints/{id}/upvote": {"get": {"operationId": "venter_complaints_up_vote", "description": "UpVote or un-UpVote a complaint {?action}=0,1", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/ComplaintPost"}}}}, "tags": ["venter"]}, "parameters": [{"name": "id", "in": "path", "description": "A UUID string identifying this Complaint.", "required": true, "type": "string", "format": "uuid"}]}, "/venter/tags": {"get": {"operationId": "venter_tags_list", "description": "TagViewSet for the getting related tags", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Tag"}}}}, "tags": ["venter"]}, "parameters": []}, "/verifier-events": {"get": {"operationId": "verifier_events", "description": "Get only pending events that the current verifier can approve.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/EventFull"}}}}, "tags": ["verifier_events"]}, "parameters": []}}, "definitions": {"BodySerializerMin": {"required": ["name"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "str_id": {"title": "Str id", "type": "string", "readOnly": true, "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "maxLength": 50, "minLength": 1}, "short_description": {"title": "Short description", "type": "string", "maxLength": 50}, "website_url": {"title": "Website url", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "image_url": {"title": "Image url", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "cover_url": {"title": "Cover url", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "followers_count": {"title": "Followers count", "type": "string", "readOnly": true}, "short_name": {"title": "Short name", "type": "string", "maxLength": 20, "x-nullable": true}}}, "UserProfile": {"type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 50}, "profile_pic": {"title": "Profile pic", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "ldap_id": {"title": "Ldap id", "type": "string", "maxLength": 50, "x-nullable": true}}}, "EventMin": {"required": ["name", "start_time", "end_time"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "str_id": {"title": "Str id", "type": "string", "readOnly": true, "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "maxLength": 60, "minLength": 1}, "tags": {"title": "Tags", "type": "string", "enum": ["event", "announcement"], "x-nullable": true}, "image_url": {"title": "Image url", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "start_time": {"title": "Start time", "type": "string", "format": "date-time"}, "end_time": {"title": "End time", "type": "string", "format": "date-time"}}}, "AchievementUser": {"required": ["title"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "title": {"title": "Title", "type": "string", "maxLength": 80, "minLength": 1}, "description": {"title": "Description", "type": "string"}, "admin_note": {"title": "Admin note", "type": "string", "x-nullable": true}, "body_detail": {"$ref": "#/definitions/BodySerializerMin"}, "dismissed": {"title": "Dismissed", "type": "boolean"}, "verified": {"title": "Verified", "type": "boolean"}, "user": {"$ref": "#/definitions/UserProfile"}, "body": {"title": "Body", "type": "string", "format": "uuid", "x-nullable": true}, "verified_by": {"title": "Verified by", "type": "string", "format": "uuid", "x-nullable": true}, "event": {"title": "Event", "type": "string", "format": "uuid", "x-nullable": true}, "event_detail": {"$ref": "#/definitions/EventMin"}, "offer": {"title": "Offer", "type": "string", "format": "uuid", "x-nullable": true}, "isSkill": {"title": "IsSkill", "type": "boolean"}}}, "OfferedAchievement": {"required": ["title", "body", "event"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "priority": {"title": "Priority", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "title": {"title": "Title", "type": "string", "maxLength": 80, "minLength": 1}, "description": {"title": "Description", "type": "string"}, "body": {"title": "Body", "type": "string", "format": "uuid"}, "event": {"title": "Event", "type": "string", "format": "uuid"}, "generic": {"title": "Generic", "type": "string", "maxLength": 20, "minLength": 1}}}, "SSOBans": {"required": ["banned_by", "reason", "duration_of_ban"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid"}, "banned_by": {"$ref": "#/definitions/UserProfile"}, "time_of_creation": {"title": "Time of creation", "type": "string", "format": "date-time", "readOnly": true}, "reason": {"title": "Reason", "type": "string", "enum": ["IDF", "Buy&Sell", "Graduated ", "InstiBan"]}, "detailed_reason": {"title": "Detailed reason", "type": "string"}, "duration_of_ban": {"title": "Duration of ban", "type": "string", "enum": ["1 month", "3 months", "6 months", "12 months", "Permanent"]}, "banned_user_ldapid": {"title": "Banned user ldapid", "type": "string", "maxLength": 20, "x-nullable": true}, "banned_user": {"title": "Banned user", "type": "string", "format": "uuid", "x-nullable": true}}}, "RoleSerializerMin": {"required": ["name", "body"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 50, "minLength": 1}, "body": {"title": "Body", "type": "string", "format": "uuid"}, "users_detail": {"type": "array", "items": {"$ref": "#/definitions/UserProfile"}, "readOnly": true}, "priority": {"title": "Priority", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}}}, "Body": {"required": ["name"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "str_id": {"title": "Str id", "type": "string", "readOnly": true, "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "maxLength": 50, "minLength": 1}, "short_description": {"title": "Short description", "type": "string", "maxLength": 50}, "description": {"title": "Description", "type": "string"}, "image_url": {"title": "Image url", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "children": {"title": "Children", "type": "string", "readOnly": true}, "parents": {"title": "Parents", "type": "string", "readOnly": true}, "events": {"title": "Events", "type": "string", "readOnly": true}, "followers_count": {"title": "Followers count", "type": "integer", "readOnly": true}, "user_follows": {"title": "User follows", "type": "boolean", "readOnly": true}, "roles": {"type": "array", "items": {"$ref": "#/definitions/RoleSerializerMin"}, "readOnly": true}, "website_url": {"title": "Website url", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "blog_url": {"title": "Blog url", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "cover_url": {"title": "Cover url", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "whatsapp_group_url": {"title": "Whatsapp group url", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "instagram_url": {"title": "Instagram url", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "photoalbum_urls": {"title": "Photoalbum urls", "type": "string", "x-nullable": true}, "short_name": {"title": "Short name", "type": "string", "maxLength": 20, "x-nullable": true}}}, "BodyFollowers": {"type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "followers": {"type": "array", "items": {"$ref": "#/definitions/UserProfile"}, "readOnly": true}}}, "Product": {"required": ["name", "contact_details"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "user": {"$ref": "#/definitions/UserProfile"}, "product_image": {"title": "Product image", "type": "string"}, "str_id": {"title": "Str id", "type": "string", "readOnly": true, "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "maxLength": 60, "minLength": 1}, "description": {"title": "Description", "type": "string"}, "category": {"title": "Category", "type": "string", "maxLength": 100, "x-nullable": true}, "brand": {"title": "Brand", "type": "string", "maxLength": 60, "x-nullable": true}, "warranty": {"title": "Warranty", "type": "boolean", "x-nullable": true}, "packaging": {"title": "Packaging", "type": "boolean", "x-nullable": true}, "condition": {"title": "Condition", "type": "string", "enum": ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"], "x-nullable": true}, "action": {"title": "Action", "type": "string", "enum": ["sell", "giveaway", "rent"]}, "status": {"title": "Status", "type": "boolean", "x-nullable": true}, "deleted": {"title": "Deleted", "type": "boolean", "x-nullable": true}, "price": {"title": "Price", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "original_price": {"title": "Original price", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "negotiable": {"title": "Negotiable", "type": "boolean"}, "contact_details": {"title": "Contact details", "type": "string", "maxLength": 300, "minLength": 1}, "time_of_creation": {"title": "Time of creation", "type": "string", "format": "date-time", "readOnly": true}, "time_inactive": {"title": "Time inactive", "type": "string", "format": "date-time", "readOnly": true, "x-nullable": true}, "followers": {"type": "array", "items": {"type": "string", "format": "uuid"}, "uniqueItems": true}}}, "CommunitySerializers": {"required": ["name", "body"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "str_id": {"title": "Str id", "type": "string", "readOnly": true, "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "maxLength": 100, "minLength": 1}, "about": {"title": "About", "type": "string", "x-nullable": true}, "description": {"title": "Description", "type": "string", "x-nullable": true}, "created_at": {"title": "Created at", "type": "string", "format": "date-time", "readOnly": true}, "updated_at": {"title": "Updated at", "type": "string", "format": "date-time", "readOnly": true}, "cover_image": {"title": "Cover image", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "logo_image": {"title": "Logo image", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "followers_count": {"title": "Followers count", "type": "string", "readOnly": true}, "is_user_following": {"title": "Is user following", "type": "string", "readOnly": true}, "roles": {"type": "array", "items": {"$ref": "#/definitions/RoleSerializerMin"}, "readOnly": true}, "posts": {"title": "Posts", "type": "string", "readOnly": true}, "body": {"title": "Body", "type": "string", "format": "uuid"}, "featured_posts": {"title": "Featured posts", "type": "string", "readOnly": true}}}, "CommunitySerializerMin": {"required": ["name", "body"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "str_id": {"title": "Str id", "type": "string", "readOnly": true, "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "maxLength": 100, "minLength": 1}, "about": {"title": "About", "type": "string", "x-nullable": true}, "cover_image": {"title": "Cover image", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "logo_image": {"title": "Logo image", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "followers_count": {"title": "Followers count", "type": "string", "readOnly": true}, "body": {"title": "Body", "type": "string", "format": "uuid"}, "is_user_following": {"title": "Is user following", "type": "string", "readOnly": true}}}, "Interest": {"required": ["title"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "title": {"title": "Title", "type": "string", "maxLength": 80, "minLength": 1}}}, "CommunityPostSerializers": {"type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "str_id": {"title": "Str id", "type": "string", "readOnly": true, "minLength": 1, "x-nullable": true}, "content": {"title": "Content", "type": "string", "x-nullable": true}, "posted_by": {"title": "Posted by", "type": "string", "readOnly": true}, "reactions_count": {"title": "Reactions count", "type": "string", "readOnly": true}, "user_reaction": {"title": "User reaction", "type": "string", "readOnly": true}, "comments_count": {"title": "Comments count", "type": "string", "readOnly": true}, "time_of_creation": {"title": "Time of creation", "type": "string", "format": "date-time", "readOnly": true}, "time_of_modification": {"title": "Time of modification", "type": "string", "format": "date-time", "readOnly": true}, "image_url": {"title": "Image url", "type": "string", "readOnly": true}, "comments": {"title": "Comments", "type": "string", "readOnly": true}, "thread_rank": {"title": "Thread rank", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "community": {"$ref": "#/definitions/CommunitySerializerMin"}, "status": {"title": "Status", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "tag_body": {"type": "array", "items": {"$ref": "#/definitions/BodySerializerMin"}, "readOnly": true}, "tag_user": {"type": "array", "items": {"$ref": "#/definitions/UserProfile"}, "readOnly": true}, "interests": {"type": "array", "items": {"$ref": "#/definitions/Interest"}, "readOnly": true}, "featured": {"title": "Featured", "type": "boolean", "x-nullable": true}, "deleted": {"title": "Deleted", "type": "boolean", "x-nullable": true}, "anonymous": {"title": "Anonymous", "type": "boolean"}, "reported_by": {"type": "array", "items": {"type": "string", "format": "uuid"}, "uniqueItems": true}}}, "LocationSerializerMin": {"required": ["name"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 150, "minLength": 1}, "short_name": {"title": "Short name", "type": "string", "maxLength": 80, "x-nullable": true}, "lat": {"title": "Lat", "type": "string", "format": "decimal", "x-nullable": true}, "lng": {"title": "Lng", "type": "string", "format": "decimal", "x-nullable": true}}}, "EventFull": {"required": ["name", "verification_bodies_id", "start_time", "end_time", "bodies_id", "interests_id"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "str_id": {"title": "Str id", "type": "string", "readOnly": true, "minLength": 1, "x-nullable": true}, "name": {"title": "Name", "type": "string", "maxLength": 60, "minLength": 1}, "tags": {"title": "Tags", "type": "string", "enum": ["event", "announcement"], "x-nullable": true}, "description": {"title": "Description", "type": "string"}, "email_subject": {"title": "Email subject", "type": "string", "minLength": 1}, "longdescription": {"title": "Longdescription", "type": "string", "minLength": 1}, "email_verified": {"title": "Email verified", "type": "boolean"}, "email_rejected": {"title": "Email rejected", "type": "boolean"}, "verification_bodies": {"type": "array", "items": {"$ref": "#/definitions/BodySerializerMin"}, "readOnly": true}, "verification_bodies_id": {"type": "array", "items": {"type": "string", "format": "uuid"}, "uniqueItems": true}, "image_url": {"title": "Image url", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "start_time": {"title": "Start time", "type": "string", "format": "date-time"}, "end_time": {"title": "End time", "type": "string", "format": "date-time"}, "all_day": {"title": "All day", "type": "boolean"}, "venues": {"type": "array", "items": {"$ref": "#/definitions/LocationSerializerMin"}, "readOnly": true}, "venue_room": {"title": "Venue room", "type": "string", "x-nullable": true}, "venue_names": {"type": "array", "items": {"type": "string"}, "readOnly": true, "uniqueItems": true}, "bodies": {"type": "array", "items": {"$ref": "#/definitions/BodySerializerMin"}, "readOnly": true}, "bodies_id": {"type": "array", "items": {"type": "string", "format": "uuid"}, "uniqueItems": true}, "interested_count": {"title": "Interested count", "type": "integer", "readOnly": true}, "going_count": {"title": "Going count", "type": "integer", "readOnly": true}, "interested": {"title": "Interested", "type": "string", "readOnly": true}, "going": {"title": "Going", "type": "string", "readOnly": true}, "venue_ids": {"type": "array", "items": {"type": "string", "format": "uuid"}, "uniqueItems": true}, "website_url": {"title": "Website url", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "user_ues": {"title": "User ues", "type": "string", "readOnly": true}, "notify": {"title": "Notify", "type": "boolean"}, "user_tags": {"type": "array", "items": {"type": "integer"}, "default": [], "uniqueItems": true}, "offered_achievements": {"type": "array", "items": {"$ref": "#/definitions/OfferedAchievement"}, "readOnly": true}, "event_interest": {"type": "array", "items": {"$ref": "#/definitions/Interest"}, "readOnly": true}, "interests_id": {"type": "array", "items": {"type": "string", "format": "uuid"}, "uniqueItems": true}, "verification_status": {"title": "Verification status", "type": "string", "readOnly": true, "minLength": 1}, "rejection_reason": {"title": "Rejection reason", "type": "string", "default": ""}, "time_of_creation": {"title": "Time of creation", "type": "string", "format": "date-time", "readOnly": true}}}, "UserInterest": {"required": ["title"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "title": {"title": "Title", "type": "string", "maxLength": 80, "minLength": 1}}}, "ExtractedData": {"type": "object", "properties": {"category": {"title": "Category", "type": "string", "maxLength": 10}, "role": {"title": "Role", "type": "string"}, "domain": {"title": "Domain", "type": "string", "maxLength": 200}, "stipend": {"title": "Stipend", "type": "string", "maxLength": 100}, "eligibility": {"title": "Eligibility", "type": "string"}, "deadline": {"title": "Deadline", "type": "string", "format": "date-time", "x-nullable": true}, "shortlisted_rolls": {"title": "Shortlisted rolls", "type": "object", "x-nullable": true}, "event_date": {"title": "Event date", "type": "string", "format": "date-time", "x-nullable": true}, "venue": {"title": "Venue", "type": "string", "maxLength": 300}, "reporting_time": {"title": "Reporting time", "type": "string", "maxLength": 50}, "interview_slots": {"title": "Interview slots", "type": "object", "x-nullable": true}}}, "BlogPost": {"required": ["id", "post_type", "raw_company_name", "published", "link", "raw_content"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid"}, "company_slug": {"title": "Company slug", "type": "string", "readOnly": true}, "post_type": {"title": "Post type", "type": "string", "enum": ["IAF_OPEN", "TEST", "TEST_SHORTLIST", "TEST_UPDATE", "ASSIGNMENT_DETAILS", "ASSIGNMENT_SHORTLIST", "MANDATORY_FORM", "INTERVIEW_SHORTLIST", "INTERVIEW_SCHEDULE", "INTERVIEW_UPDATE", "GD_SCHEDULE", "GD_UPDATE", "ROUND2_SHORTLIST", "FINAL_SELECTION", "OTHER"]}, "post_type_display": {"title": "Post type display", "type": "string", "readOnly": true, "minLength": 1}, "raw_company_name": {"title": "Raw company name", "type": "string", "maxLength": 200, "minLength": 1}, "published": {"title": "Published", "type": "string", "format": "date-time"}, "link": {"title": "Link", "type": "string", "format": "uri", "maxLength": 200, "minLength": 1}, "pinned": {"title": "Pinned", "type": "boolean"}, "extracted_data": {"$ref": "#/definitions/ExtractedData"}, "raw_content": {"title": "Raw content", "type": "string", "minLength": 1}}}, "CompanyThread": {"required": ["company_name", "company_slug", "first_post_date"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "company_name": {"title": "Company name", "type": "string", "maxLength": 200, "minLength": 1}, "company_slug": {"title": "Company slug", "type": "string", "format": "slug", "pattern": "^[-a-zA-Z0-9_]+$", "maxLength": 50, "minLength": 1}, "first_post_date": {"title": "First post date", "type": "string", "format": "date-time"}, "category": {"title": "Category", "type": "string", "maxLength": 10}, "role": {"title": "Role", "type": "string"}, "domain": {"title": "Domain", "type": "string", "maxLength": 200}, "stipend": {"title": "Stipend", "type": "string", "maxLength": 100}, "eligibility": {"title": "Eligibility", "type": "string"}, "iaf_deadline": {"title": "Iaf deadline", "type": "string", "format": "date-time", "x-nullable": true}}}, "CompleteThread": {"required": ["company_name", "company_slug", "first_post_date"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "company_name": {"title": "Company name", "type": "string", "maxLength": 200, "minLength": 1}, "company_slug": {"title": "Company slug", "type": "string", "format": "slug", "pattern": "^[-a-zA-Z0-9_]+$", "maxLength": 50, "minLength": 1}, "first_post_date": {"title": "First post date", "type": "string", "format": "date-time"}, "category": {"title": "Category", "type": "string", "maxLength": 10}, "role": {"title": "Role", "type": "string"}, "domain": {"title": "Domain", "type": "string", "maxLength": 200}, "stipend": {"title": "Stipend", "type": "string", "maxLength": 100}, "eligibility": {"title": "Eligibility", "type": "string"}, "iaf_deadline": {"title": "Iaf deadline", "type": "string", "format": "date-time", "x-nullable": true}, "posts": {"type": "array", "items": {"$ref": "#/definitions/BlogPost"}, "readOnly": true}}}, "ProductFound": {"required": ["name", "contact_details"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 60, "minLength": 1}, "description": {"title": "Description", "type": "string"}, "product_image": {"title": "Product image", "type": "string", "readOnly": true}, "category": {"title": "Category", "type": "string", "enum": ["electronics", "stationery", "Other"], "x-nullable": true}, "found_at": {"title": "Found at", "type": "string", "maxLength": 60}, "claimed": {"title": "Claimed", "type": "string", "readOnly": true}, "claimed_by": {"title": "Claimed by", "type": "string", "readOnly": true}, "contact_details": {"title": "Contact details", "type": "string", "maxLength": 300, "minLength": 1}, "time_of_creation": {"title": "Time of creation", "type": "string", "format": "date-time", "readOnly": true}}}, "Location": {"required": ["name"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 150, "minLength": 1}, "short_name": {"title": "Short name", "type": "string", "maxLength": 80, "x-nullable": true}, "group_id": {"title": "Group id", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "pixel_x": {"title": "Pixel x", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "pixel_y": {"title": "Pixel y", "type": "integer", "maximum": 2147483647, "minimum": -2147483648, "x-nullable": true}, "parent": {"title": "Parent", "type": "string", "format": "uuid", "x-nullable": true}, "parent_relation": {"title": "Parent relation", "type": "string", "maxLength": 50, "x-nullable": true}, "description": {"title": "Description", "type": "string", "x-nullable": true}, "lat": {"title": "Lat", "type": "string", "format": "decimal", "x-nullable": true}, "lng": {"title": "Lng", "type": "string", "format": "decimal", "x-nullable": true}, "reusable": {"title": "Reusable", "type": "boolean"}}}, "PlacementExtractedData": {"type": "object", "properties": {"category": {"title": "Category", "type": "string", "maxLength": 10}, "role": {"title": "Role", "type": "string"}, "domain": {"title": "Domain", "type": "string", "maxLength": 200}, "bonus_jaf": {"title": "Bonus jaf", "type": "string", "maxLength": 100}, "cpi_cutoff": {"title": "Cpi cutoff", "type": "string"}, "bond": {"title": "Bond", "type": "string", "maxLength": 255, "x-nullable": true}, "mode": {"title": "Mode", "type": "string", "maxLength": 255, "x-nullable": true}, "deadline": {"title": "Deadline", "type": "string", "format": "date-time", "x-nullable": true}, "shortlisted_rolls": {"title": "Shortlisted rolls", "type": "object", "x-nullable": true}, "event_date": {"title": "Event date", "type": "string", "format": "date-time", "x-nullable": true}, "venue": {"title": "Venue", "type": "string", "maxLength": 300}, "time": {"title": "Time", "type": "string", "maxLength": 50}, "placement_slots": {"title": "Placement slots", "type": "object", "x-nullable": true}}}, "PlacementBlogPost": {"required": ["id", "post_type", "raw_company_name", "published", "link", "raw_content"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid"}, "company_slug": {"title": "Company slug", "type": "string", "readOnly": true}, "post_type": {"title": "Post type", "type": "string", "enum": ["JAF_OPEN", "TEST", "TEST_SHORTLIST", "TEST_UPDATE", "ASSIGNMENT_DETAILS", "ASSIGNMENT_SHORTLIST", "MANDATORY_FORM", "INTERVIEW_SHORTLIST", "INTERVIEW_SCHEDULE", "INTERVIEW_UPDATE", "GD_SCHEDULE", "GD_UPDATE", "ROUND2_SHORTLIST", "FINAL_SELECTION", "OTHER"]}, "post_type_display": {"title": "Post type display", "type": "string", "readOnly": true, "minLength": 1}, "raw_company_name": {"title": "Raw company name", "type": "string", "maxLength": 200, "minLength": 1}, "published": {"title": "Published", "type": "string", "format": "date-time"}, "link": {"title": "Link", "type": "string", "format": "uri", "maxLength": 200, "minLength": 1}, "pinned": {"title": "Pinned", "type": "boolean"}, "extracted_data": {"$ref": "#/definitions/PlacementExtractedData"}, "raw_content": {"title": "Raw content", "type": "string", "minLength": 1}}}, "PlacementCompanyThread": {"required": ["company_name", "company_slug", "first_post_date"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "company_name": {"title": "Company name", "type": "string", "maxLength": 200, "minLength": 1}, "company_slug": {"title": "Company slug", "type": "string", "format": "slug", "pattern": "^[-a-zA-Z0-9_]+$", "maxLength": 50, "minLength": 1}, "first_post_date": {"title": "First post date", "type": "string", "format": "date-time"}, "role": {"title": "Role", "type": "string"}, "domain": {"title": "Domain", "type": "string", "maxLength": 200}, "bonus_jaf": {"title": "Bonus jaf", "type": "string", "maxLength": 100}, "cpi_cutoff": {"title": "Cpi cutoff", "type": "string"}, "bond": {"title": "Bond", "type": "string", "maxLength": 255, "x-nullable": true}, "mode": {"title": "Mode", "type": "string", "maxLength": 255, "x-nullable": true}, "jaf_deadline": {"title": "Jaf deadline", "type": "string", "format": "date-time", "x-nullable": true}}}, "PlacementCompleteThread": {"required": ["company_name", "company_slug", "first_post_date"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "company_name": {"title": "Company name", "type": "string", "maxLength": 200, "minLength": 1}, "company_slug": {"title": "Company slug", "type": "string", "format": "slug", "pattern": "^[-a-zA-Z0-9_]+$", "maxLength": 50, "minLength": 1}, "first_post_date": {"title": "First post date", "type": "string", "format": "date-time"}, "role": {"title": "Role", "type": "string"}, "domain": {"title": "Domain", "type": "string", "maxLength": 200}, "bonus_jaf": {"title": "Bonus jaf", "type": "string", "maxLength": 100}, "cpi_cutoff": {"title": "Cpi cutoff", "type": "string"}, "bond": {"title": "Bond", "type": "string", "maxLength": 255, "x-nullable": true}, "mode": {"title": "Mode", "type": "string", "maxLength": 255, "x-nullable": true}, "jaf_deadline": {"title": "Jaf deadline", "type": "string", "format": "date-time", "x-nullable": true}, "posts": {"type": "array", "items": {"$ref": "#/definitions/PlacementBlogPost"}, "readOnly": true}}}, "Role": {"required": ["name", "body", "permissions", "users"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 50, "minLength": 1}, "inheritable": {"title": "Inheritable", "type": "boolean"}, "body": {"title": "Body", "type": "string", "format": "uuid"}, "body_detail": {"$ref": "#/definitions/BodySerializerMin"}, "bodies": {"title": "Bodies", "type": "string", "readOnly": true}, "permissions": {"type": "array", "items": {"type": "string", "enum": ["AddE", "UpdE", "DelE", "VerE", "UpdB", "Role", "VerA", "AppP", "ModC"]}}, "users": {"type": "array", "items": {"type": "string", "format": "uuid"}, "uniqueItems": true}, "users_detail": {"type": "array", "items": {"$ref": "#/definitions/UserProfile"}, "readOnly": true}, "priority": {"title": "Priority", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "official_post": {"title": "Official post", "type": "boolean"}}}, "UploadedImage": {"type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "picture": {"title": "Picture", "type": "string", "readOnly": true, "format": "uri"}}}, "InstituteRole": {"required": ["name", "permissions"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 50, "minLength": 1}, "permissions": {"type": "array", "items": {"type": "string", "enum": ["AddB", "DelB", "BodyChild", "Location", "Role", "RoleB"]}}}}, "FormerRole": {"type": "object", "properties": {"id": {"title": "Id", "type": "string", "readOnly": true}, "name": {"title": "Name", "type": "string", "readOnly": true}, "body_detail": {"$ref": "#/definitions/BodySerializerMin"}, "priority": {"title": "Priority", "type": "string", "readOnly": true}, "year": {"title": "Year", "type": "string", "maxLength": 20}}}, "VerifiedAchievement": {"required": ["title"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "title": {"title": "Title", "type": "string", "maxLength": 80, "minLength": 1}, "description": {"title": "Description", "type": "string"}, "body_detail": {"$ref": "#/definitions/BodySerializerMin"}, "dismissed": {"title": "Dismissed", "type": "boolean"}, "verified": {"title": "Verified", "type": "boolean"}, "hidden": {"title": "Hidden", "type": "boolean"}, "event_detail": {"$ref": "#/definitions/EventMin"}, "isSkill": {"title": "IsSkill", "type": "boolean"}}}, "UserProfileFull": {"type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "name": {"title": "Name", "type": "string", "maxLength": 50}, "department": {"title": "Department", "type": "string", "readOnly": true, "minLength": 1, "x-nullable": true}, "department_name": {"title": "Department name", "type": "string", "readOnly": true, "minLength": 1, "x-nullable": true}, "degree": {"title": "Degree", "type": "string", "readOnly": true, "minLength": 1, "x-nullable": true}, "degree_name": {"title": "Degree name", "type": "string", "readOnly": true, "minLength": 1, "x-nullable": true}, "join_year": {"title": "Join year", "type": "string", "readOnly": true, "minLength": 1, "x-nullable": true}, "graduation_year": {"title": "Graduation year", "type": "string", "readOnly": true, "minLength": 1, "x-nullable": true}, "profile_pic": {"title": "Profile pic", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "events_interested": {"title": "Events interested", "type": "string", "readOnly": true}, "events_going": {"title": "Events going", "type": "string", "readOnly": true}, "email": {"title": "Email", "type": "string", "readOnly": true}, "roll_no": {"title": "Roll no", "type": "string", "maxLength": 30, "x-nullable": true}, "contact_no": {"title": "Contact no", "type": "string", "readOnly": true}, "show_contact_no": {"title": "Show contact no", "type": "boolean"}, "about": {"title": "About", "type": "string", "x-nullable": true}, "followed_bodies": {"type": "array", "items": {"$ref": "#/definitions/BodySerializerMin"}, "readOnly": true}, "fcm_id": {"title": "Fcm id", "type": "string", "maxLength": 200, "x-nullable": true}, "android_version": {"title": "Android version", "type": "integer", "maximum": 2147483647, "minimum": -2147483648}, "roles": {"type": "array", "items": {"$ref": "#/definitions/Role"}, "readOnly": true}, "institute_roles": {"type": "array", "items": {"$ref": "#/definitions/InstituteRole"}, "readOnly": true}, "website_url": {"title": "Website url", "type": "string", "format": "uri", "maxLength": 200, "x-nullable": true}, "ldap_id": {"title": "Ldap id", "type": "string", "maxLength": 50, "x-nullable": true}, "hostel": {"title": "Hostel", "type": "string", "maxLength": 100, "x-nullable": true}, "former_roles": {"type": "array", "items": {"$ref": "#/definitions/FormerRole"}, "readOnly": true}, "achievements": {"type": "array", "items": {"$ref": "#/definitions/VerifiedAchievement"}, "readOnly": true}, "interests": {"type": "array", "items": {"$ref": "#/definitions/UserInterest"}, "readOnly": true}}}, "Signature": {"required": ["body", "signature"], "type": "object", "properties": {"id": {"title": "ID", "type": "integer", "readOnly": true}, "user": {"title": "User", "type": "string", "format": "uuid", "readOnly": true}, "body": {"title": "Body", "type": "string", "format": "uuid", "x-nullable": true}, "signature": {"title": "Signature", "type": "string", "maxLength": 200, "minLength": 1}, "timestamp": {"title": "Timestamp", "type": "string", "format": "date-time", "readOnly": true}}}, "CommentPost": {"required": ["text"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "time": {"title": "Time", "type": "string", "format": "date-time", "readOnly": true}, "text": {"title": "Text", "type": "string", "minLength": 1}}}, "ComplaintPost": {"type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "description": {"title": "Description", "type": "string"}, "suggestions": {"title": "Suggestions", "type": "string"}, "location_details": {"title": "Location details", "type": "string"}, "report_date": {"title": "Report date", "type": "string", "format": "date-time", "readOnly": true}, "latitude": {"title": "Latitude", "type": "number", "x-nullable": true}, "longitude": {"title": "Longitude", "type": "number", "x-nullable": true}, "location_description": {"title": "Location description", "type": "string"}}}, "Tag": {"required": ["tag_uri"], "type": "object", "properties": {"id": {"title": "Id", "type": "string", "format": "uuid", "readOnly": true}, "tag_uri": {"title": "Tag uri", "type": "string", "maxLength": 200, "minLength": 1}}}}}